<form [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
      class="form_login">
  <h2 class="mb-3">Login form</h2>
  <div class="field grid">
    <label for="email"
           class="col-fixed"
           style="width:300px">Email</label>
    <div class="col">
      <input id="email"
             formControlName="email"
             type="text"
             pInputText>
    </div>
  </div>
  <br>
  <div class="field grid">
    <label for="password"
           class="col-fixed"
           style="width:300px">Password</label>
    <div class="col">
      <input id="password"
             formControlName="password"
             type="password"
             pInputText>
    </div>
  </div>
  <br>
  <button pButton
          type="submit"
          label="Login"></button>

  <br><br>
</form>
<div>
  <div>Select user:</div>
  <p-dropdown [options]="users"
              [(ngModel)]="currentUser"
              optionLabel="email"
              (onChange)="selectUser($event.value)">
  </p-dropdown>
</div>
