<div class="grid">
  <div class="col-6">
    <h4 class="mb-2">
      Transfer money to wallet:
    </h4>
    <div>
      <div class="grid mb-4">
        <span class="col-3">Select team: </span>
        <p-dropdown [options]="teams"
                    class="col-3"
                    placeholder="Select team"
                    [(ngModel)]="selectedTeam"
                    optionLabel="name"></p-dropdown>
      </div>

      <div class="grid mb-4">
        <span class="col-3">Find wallet address: (User, team or Stock)</span>
        <p-autoComplete [(ngModel)]="query"
                        [autofocus]="true"
                        [size]="30"
                        [suggestions]="wallets"
                        field="description"
                        class="col-3"
                        placeholder="Ex: 4bfc1524-ccd3-490a-9dee-a0c1a46c8bc0"
                        (completeMethod)="searchWallets()"
                        (onSelect)="selectWallet($event)"></p-autoComplete>
      </div>

      <div class="grid mb-4">
        <span class="col-3">Amount: </span>
        <input [(ngModel)]="transfer"
               type="number"
               class="col-3"
               pInputText>
      </div>
      <div class="grid">
        <span class="col-3">Description: </span>
        <input [(ngModel)]="transferDescription"
               type="text"
               class="col-3"
               pInputText>
      </div>
    </div>

    <div *ngIf="errors"
         style="color:red;">
      {{errors}}</div>

    <button pButton
            type="button"
            class="mt-4"
            (click)="onTransfer()"
            label="Transfer"></button>
  </div>

  <div class="col-6">
    <div class="mt-4 team-info">
      <div>
        Team: <strong>{{selectedTeam?.name}}</strong>
      </div>
      <div>
        Balance: <strong>{{selectedTeam?.balance}} {{selectedTeam?.currency}}</strong>
      </div>
      <div>
        Wallet address: <strong>{{selectedTeam?.wallet_address}}</strong>
      </div>
    </div>
  </div>
</div>
