<div class="grid">
  <div class="col-4 wallet--info">
    <h3>My wallet</h3>

    <div class="mb-1">
      Email: <strong>{{user?.email}}</strong>
    </div>
    <div class="mb-1">
      Balance: <strong>{{(+user?.balance).toFixed(2)}} {{user?.currency}}</strong>
    </div>
    <div class="mb-1">
      Wallet address: <strong>{{user?.wallet_address}}</strong>
    </div>
  </div>
  <div class="col-8">
    <div class="ml-4">
      <h3>Action</h3>

      <h5 *ngIf="errors"
          style="color: red;"> {{errors}}</h5>
      <div class="mb-4">
        <h4 class="mb-2">
          Deposit money
        </h4>
        <div>
          <div class="grid mb-4">
            <span class="col-3">Amount: </span>
            <input [(ngModel)]="deposit"
                   type="number"
                   min="0"
                   class="col-3"
                   pInputText>
          </div>
          <div class="grid">
            <span class="col-3">Description: </span>
            <input [(ngModel)]="depositDescription"
                   type="text"
                   class="col-3"
                   pInputText>
          </div>
        </div>
        <button pButton
                type="button"
                [disabled]="false"
                (click)="onDeposit()"
                label="Deposit"></button>

      </div>
      <div class="mb-4">
        <h4 class="mb-2">
          Withdraw money:
        </h4>
        <div>
          <div class="grid mb-4">
            <span class="col-3">Amount: </span>
            <input [(ngModel)]="withdraw"
                   type="number"
                   min="0"
                   class="col-3"
                   pInputText>
          </div>
          <div class="grid">
            <span class="col-3">Description: </span>
            <input [(ngModel)]="withdrawDescription"
                   type="text"
                   class="col-3"
                   pInputText>
          </div>
        </div>
        <button pButton
                type="button"
                [disabled]="false"
                (click)="onWithdraw()"
                label="Withdraw"></button>
      </div>
      <div class="mb-4">
        <h4 class="mb-2">
          Transfer money to user or wallet:
        </h4>
        <div>
          <div class="grid mb-4">
            <span class="col-3">Find user or user wallet address:</span>
            <p-autoComplete [(ngModel)]="query"
                            [autofocus]="true"
                            [size]="30"
                            [suggestions]="users"
                            field="user_email"
                            class="col-3"
                            placeholder="Ex: jerry@gmail.com"
                            (completeMethod)="searchUsers()"
                            (onSelect)="selectUser($event)"></p-autoComplete>
          </div>
          <div class="grid mb-4">
            <span class="col-3">Amount: </span>
            <input [(ngModel)]="transfer"
                   type="number"
                   class="col-3"
                   pInputText>
          </div>
          <div class="grid">
            <span class="col-3">Description: </span>
            <input [(ngModel)]="transferDescription"
                   type="text"
                   class="col-3"
                   pInputText>
          </div>
        </div>
        <button pButton
                type="button"
                [disabled]="false"
                (click)="onTransfer()"
                label="Transfer"></button>
      </div>
    </div>
  </div>
</div>
