.header {
  height: 60px;
  background-color: rgb(18, 29, 51);
  padding: 16px;

  a {
    color: white;
    padding: 16px;
    cursor: pointer;
    font-size: 24px;
    text-decoration: none;
  }

  .logOut {
    position: absolute;
    right: 10px;
    top: 0px;
  }
}

.container {
  margin: 16px 64px;
}
